body {
    font: 18px arial, sans-serif;
    background: black;
  }

  h1 {
      text-align:center;
      font-size: 75px;
      font-family: 'Fontdiner Swanky', cursive;
      /* font-family: 'Henny Penny', cursive; */
  }

  #container {
      max-width: 85%;
      margin: 0 auto;
      background-color: black;
      color: red;
  }

  form {
    float: right;
    width: 300px;
    padding: 15px;
    color: red;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  button, input[type="submit"] {
    background: red;
    color: white;
    padding: 10px 20px;
    margin: 7px 7px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    
  }
 
  
